.MuiFormLabel-root,.MuiInput-input{
  color: #ffffff !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.MuiInputBase-root:before{
  border-bottom: 1px solid #ffffff !important;
}

.MuiOutlinedInput-notchedOutline{
  border: none !important;
}
.MuiSelect-select{
  color: #ffffff !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
.MuiFormControl-root .MuiSvgIcon-root{
  color: #ffffff !important;
}
.app{
  background: #242425;
  min-height: 100vh;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}

.ConverterTextField{
  flex: 5 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}
.ConverterTextField .date{
  margin-top: 100px;
  width: 90%;
}
.swappingIcon{
  color: #1e5ef3;
  position: absolute;
  z-index: 10;
  transform: rotate(90deg);
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 20px;
  padding: 6px;
  transition: transform 100ms ease !important;
  cursor: pointer;
}
.inputForms{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fromCurrencyContainer, .toCurrencyContainer{
  height: 200px;
  width: 90%;
  position: relative;
  border-radius: 15px;
}
.fromCurrencyContainer{
  background: #2FAAE6;
}
.toCurrencyContainer{
  background:#004E80;
}
.rotate {
  transform: rotate(-90deg) !important;
}
.fromCurrencyContainer p, .toCurrencyContainer p{
  color: #fff;
}
#outlined-helperText{
  border: none;
}
.conversionRate{
  position: absolute;
  left: 50%;
  bottom: -90%;
  transform: translate(-60%, 50%);
  font-size: 13px;
}
@media screen and (min-width:1000px){
  .app{
    padding:0px 5%;
  }
}
@media screen and (max-width:900px){
  .ConverterTextField{
    flex: 6;
  }
}
@media screen and (max-width:750px) {
  .app{
    justify-content: flex-start;
    flex-direction: column;
  }

  .ConverterTextField{
    width: 90%;
    margin: auto;
  }
  .ConverterTextField .date{
    margin-top: 20px;
  }
}

@media screen and (max-width:480px) {
  .MuiInputBase-root{
    width: 90% !important;
  }
  .MuiFormControl-root{
    width: 45% !important;
  }
  .MuiTextField-root{
    width: 80% !important;
  }
  .ConverterTextField .date{
    margin-top: 0px;
    font-size: 12px;
  }
  .container{
    flex-direction: column;
  }
  .conversionRate{
    bottom: -35%;
  }
}